<%

var site_files = config.FILES_URL + "/KaVeikiaValdzia";

%><div style="margin-top: 22px;">
    <h3>Prisijunkite prie mūsų</h3>
    
    <p><a href="http://www.facebook.com/pages/KaVeikiaValdzialt/248440466844"><img src="<%= site_files %>/fb.gif" border="0" hspace="5" vspace="2" align="right"></a>
        <img src="<%= site_files %>/tri.gif"> <a href="http://www.facebook.com/pages/KaVeikiaValdzialt/248440466844">Facebook puslapis</a><br>
        Tapkite mūsų fanu: gaukite pranešimus apie svetainės naujienas, teikite pasiūlymus, rekomenduokite svetainę savo draugams. Jūsų palaikymas mums svarbus!</p>
    
    <p><a href="http://groups.google.com/group/manovalstybe"><img src="<%= site_files %>/gg.png" align="right" border="0" hspace="5" vspace="2"></a>
        <img src="<%= site_files %>/tri.gif"> <a href="http://groups.google.com/group/manovalstybe">&quot;Mano Valstybė&quot;</a><br>
        Jei norite pagelbėti kuriant šį ir kitus projektus &mdash; junkitės prie mūsų.</p>

    <p><a href="<%= config.WEB_URL %>/pages/programuotojams"><img src="<%= site_files %>/bzr.gif" align="right" border="0" hspace="5" vspace="2"></a>
        <img src="<%= site_files %>/tri.gif"> <a href="<%= config.WEB_URL %>/pages/programuotojams">Programuotojams</a><br>
        Dėmesio: atviras kodas ir laisva programinė įranga. Yra ir šioks toks API. Daugiau informacijos apie naudojamą Server-side JavaScript.</p>
</div>
<div>
    <h3>Rekomenduojame</h3>
    
    <p><img src="<%= site_files %>/tri.gif"> <a href="http://seimas.idemokratija.info/">Atviras Seimas</a><br>
        Seimo darbo statistika: lankomumas, balsavimai, kelionės. Statistikos analizė.</p>
</div>

