<%

var site_files = config.FILES_URL + "/KaVeikiaValdzia";

%>
<div>
    <h3>Dalyvaukite</h3>
    <div>
        <p><img src="<%= site_files %>/facebook.png" align="left" style="margin: 0 5px 5px 0;"><a href="http://www.facebook.com/pages/KaVeikiaValdzialt/248440466844"><strong>Facebook puslapis</strong></a></p>
        <p>Tapkite mūsų fanu: gaukite pranešimus apie svetainės naujienas, teikite pasiūlymus, rekomenduokite svetainę savo draugams. Jūsų palaikymas mums svarbus!</p>
    </div>
    <img src="<%= site_files %>/left-hr.png">
    <div>
        <p><a href="http://manovalstybe.lt/"><img src="<%= site_files %>/manovalstybe.png"></a></p>
        <p>Jei norite pagelbėti kuriant šį ir kitus projektus - junkitės prie mūsų.</p>
    </div>
    <!--
    <img src="<%= site_files %>/left-hr.png">
    <div>
        <p><img src="<%= site_files %>/opensource.png" align="left" style="margin: 0 5px 5px 0;">Dėmesio: atviras kodas ir laisva programinė įranga. Yra ir šioks toks API. Daugiau informacijos apie naudojama Server-side JavaScript.</p>
    </div>
    -->
</div>
<div>
    <h3>Rėmėjai ir partneriai</h3>
    <div align="center">
        <a href="http://transparency.lt/"><img src="<%= site_files %>/tils.png"></a>
        <a href="http://mysociety.org/"><img src="<%= site_files %>/mysociety.png" vspace="11"></a>
        <a href="http://soros.org/"><img src="<%= site_files %>/soros.png"></a></div>
</div>
<div>
    <h3>Hostingu remia</h3>
    <div align="center"><a href="http://interdata.lt/"><img src="<%= site_files %>/interdata.png"></a></div>
</div>

