<%

var site_files = config.FILES_URL + "/KaVeikiaValdzia";

var title;
var side;
var html;
var breadcrumbs;


function css()
{
    var html = "";
    for (var i=0; i<arguments.length; i++)
        html += '<link rel="stylesheet" type="text/css" href="' + config.FILES_URL + '/' + arguments[i] + '.css?123">';
    return html;
}

function javascript()
{
    var html = "";
    for (var i=0; i<arguments.length; i++)
        html += '<script type="text/javascript" src="' + config.FILES_URL + '/' + arguments[i] + '.js?123"></script>';
    return html;
}


%><!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>KąVeikiaValdžia: <%= title %></title>
        <link rel="alternate" type="application/rss+xml" title="Newest documents RSS" href="<%= config.WEB_URL %>/docs/rss/">
        <%

        print(css(
            "KaVeikiaValdzia/KaVeikiaValdzia",
            "PolicyFeed/PolicyFeed"));

        print('<script type="text/javascript">var WEB_URL = "', config.WEB_URL, '"; var FILES_URL = "', config.FILES_URL, '"; </script>');

        print(javascript(
            "jquery/jquery",
            "PolicyFeed/PolicyFeed",
            "PolicyFeed/Calendar"));

        %>
    </head>
    <body>
        <div id="top">
            <a id="logo" href="<%= config.WEB_URL %>/"><img src="<%= site_files %>/logo.png" border="0"></a>
            <img id="top-end" src="<%= site_files %>/menu-end.png">
            <ul id="menu">
                <li class="first"><a href="<%= config.WEB_URL %>/">Naujausi dokumentai</a></li>
                <li><a href="<%= config.WEB_URL %>/pages/apie">Apie projektą</a></li>
                <li><a href="http://manovalstybe.lt/2010/01/14/pasiulymai-kaveikiavaldzia-lt-svetainei/" onClick="return window.confirm('Jūs būsite perkelti į ManoValstybė.lt svetainę.')">Jūsų pasiūlymai</a></li>
                <li><a href="http://manovalstybe.lt/topics/kaveikiavaldzia-lt/" onClick="return window.confirm('Jūs būsite perkelti į ManoValstybė.lt svetainę.')">Tinklaraštis</a></li>
                <li><a href="<%= config.WEB_URL %>/pages/programuotojams">Programuotojams</a></li>
            </ul>
        </div>
        <div id="main"><%

            print(html);

        %></div>
        <div id="left">
            <%= side %>
            <%= links %>
        </div>
    </body>
</html>
