<%

var ringo_dates = require("ringo/utils/dates");

var BASE_URL = config.URLS.base;
var FILES_URL = config.URLS.files;
var site_files = FILES_URL + "/KaVeikiaValdzia";

var {title, side, links, content, breadcrumbs} = vars;

var salt = ringo_dates.format(new Date(), "yyyyMMdd");


function css()
{
    var html = "";
    for (var i=0; i<arguments.length; i++)
        html += '<link rel="stylesheet" type="text/css" href="' + FILES_URL + '/' + arguments[i] + '.css?' + salt + '">';
    return html;
}

function javascript()
{
    var html = "";
    for (var i=0; i<arguments.length; i++)
        html += '<script type="text/javascript" src="' + FILES_URL + '/' + arguments[i] + '.js?' + salt + '"></script>';
    return html;
}


%><!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>KąVeikiaValdžia: <%= title %></title>
        <link rel="icon" type="image/png" href="<%= site_files %>/favicon.png">
        <link rel="shortcut icon" type="image/png" href="<%= site_files %>/favicon.png">
        <link rel="alternate" type="application/rss+xml" title="Newest documents RSS" href="<%= BASE_URL %>/docs/rss/">
        <%

        print(css(
            "KaVeikiaValdzia/KaVeikiaValdzia",
            "PolicyFeed/PolicyFeed"));

        print('<script type="text/javascript">var WEB_URL = "', BASE_URL, '"; var FILES_URL = "', FILES_URL, '"; </script>');

        print(javascript(
            "jquery/jquery",
            "PolicyFeed/PolicyFeed",
            "PolicyFeed/Calendar",
            "PolicyFeed/AlertManager"));

        %>
    </head>
    <body>
        <div id="top">
            <a id="logo" href="<%= BASE_URL %>/"><img src="<%= site_files %>/logo.png" border="0"></a>
            <img id="top-end" src="<%= site_files %>/menu-end.png">
                        <ul id="menu">
                <li class="first"><a href="<%= BASE_URL %>/">PIRMAS PUSLAPIS</a></li>
                <li><a href="<%= BASE_URL %>/pages/apie">APIE PROJEKTĄ</a></li>
                <li><a href="<%= BASE_URL %>/pages/programuotojams">PROGRAMUOTOJAMS</a></li>
            </ul>
<ul id="menu-ext">
                <li><a href="http://manovalstybe.lt/topics/kaveikiavaldzia-lt/" target="_blank">Tinklaraštis<img src="<%= site_files %>/external-link.gif"></a></li>
                <li><a href="http://manovalstybe.lt/2010/01/14/pasiulymai-kaveikiavaldzia-lt-svetainei/" target="_blank">Jūsų pasiūlymai <img src="<%= site_files %>/external-link.gif"></a></li>
            </ul>

        </div>
        <div id="main"><%= content %></div>
        <div id="left"><%= side, links %>
        </div>
    </body>
</html>
