<%

// Requirements:
var Calendar = require("PolicyFeed/Calendar");
var config = require("config");
var PolicyFeed = require("PolicyFeed");
var ringo_dates = require("ringo/utils/dates");
var ringo_strings = require("ringo/utils/strings");

// Constants:
var BASE_URL = config.URLS.base;
var site_files = config.URLS.files + "/KaVeikiaValdzia";

// Input vars:
var {query, docs, numFound, highlighting} = vars;
query = ringo_strings.entitize(query);


/**
 * Converts an ISO string back to Date object.
 */
function isoToJsDate(str)
{
    var arr = str.replace(/[-T:.Z]/g, "-").split("-");
    arr[1] = parseInt(arr[1], 10) - 1;
    return new Date( Date.UTC.apply(undefined, arr) );
}



exports.side = Calendar.showBlock();

print( PolicyFeed.showSearchBlock(query) );

%>
<div id="results"><div>
<table id="results-table">
<thead><tr><th colspan="5"><span id="result-count">
    Rodoma <em><span id="results-shown"><%= docs.length %></span> iš <span id="results-total"><%= numFound %></span></em> rezultatų pagal užklausą <em><%= query %></em>
</span></th></tr><tr><th colspan="5" style="text-align: right; padding-top: 2px; background-color: #dbdbdb; border-left-width: 0px;" id="result-subscribe">
    <form method="post" action="<%= BASE_URL %>/" onsubmit="PolicyFeed.AlertManager.addAlert(this, PolicyFeed.AlertManager.addedFromSearch);return false">
        <input type="hidden" name="call" value="PolicyFeed/Alerts/Manager.addAlert">
        <input type="hidden" name="query" value="<%= query %>">
        <span id="result-subscribe">Gaukite pranešimus apie naujienas atitinkančias šią užklausą:<br>
        <input name="email" value="Įveskite el. paštą" onfocus="this.value=''"><input type="submit" value="Užsisakykite pranešimus">
            arba <a id="rss-search" href="<%= BASE_URL %>/docs/rss/?q=<%= query %>">
            naudokitės RSS srautu <img src="<%= site_files %>/rss.png" align="absmiddle"></a></span>
            </form>
</th></tr></thead>
<tbody>
<%

var url = "";
var tr_id = "";

for each(var doc in docs)
{
    if (!doc.type)
        doc.type = "unknown";
    if (!doc.org)
        doc.org = "???";
    if (!doc.organization)
        doc.organization = "???";

    url = BASE_URL + doc.id;
    tr_id = doc.id.replace(/\//g, "-");

    doc.published = isoToJsDate(doc.published);

    print('<tr id="' + tr_id + '">');
    print('<td class="org" nowrap="nowrap" align="right">');
        print('<a href="', BASE_URL, '/docs/search/?q=org:%22', doc.org, '%22" title="', doc.organization, '">', doc.org, '&nbsp;&raquo;</a></td>');
    print('<td class="type">');
        print('<a href="', BASE_URL, '/docs/search/?q=type:', doc.type, '" title="', doc.type, '"><img src="', site_files, '/', doc.type, '.png"></a></td>');
    print('<td class="title">');

    print('<a href="' + url + '" class="title">' + doc.title + '</a>');
    if (highlighting[doc.id] && highlighting[doc.id].html)
        print('<p>', highlighting[doc.id].html.join("</p><p>") , '</p>');
    print('</td>');
    
    print('<td class="time" nowrap="nowrap">', ringo_dates.format(doc.published, "yyyy-MM-dd"), "</td>");
    print('<td class="expand"><a href="' + url + '" onClick="PolicyFeed.expandDocument(this);return false;">išskleisti</a></td>');
    print('</tr>');
}

%>
</tbody>
<%

if (docs.length > 0 && docs.length < numFound) {

    %>
<tfoot><tr><th colspan="5">
    <a id="older" onClick="PolicyFeed.loadSearchResults(this);return false;">
        <img id="older-image-still" src="<%=site_files%>/clock-still.gif" align="absmiddle">
        <img id="older-image" src="<%=site_files%>/clock.gif" align="absmiddle" style="display: none;">
        Senesni įrašai</a>
</th></tr></tfoot>
<%
}
%>
</table>
</div></div>
