<%

// Input variables:
var {doc, key} = vars;

var url = "http://kaveikiavaldzia.lt/" + doc._id;

%><!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
    body {
        font-family: sans-serif;
        font-size: 13px;
        padding: 1.5em
    }

    .small {
        font-size: 11px;
    }
    </style>
</head>
<body>
<div style="padding: 10px; background-color: #fffdbb">
Sveiki, kažkuris KąVeikiaValdžia.lt
svetainės lankytojas nusprendė pasidalinti su Jumis šiuo dokumentu. Jei
nepageidaujate gauti tokių
pranešimų, ar gavote jį per klaidą, <a href="http://kaveikiavaldzia.lt/?call=PolicyFeed/Users/Preferences.showBlockForm&key=<%= key %>">jų galite atsisakyti čia</a>.<br>
</div>
<h2><%= doc.title %></h2>
<p><em>[ <%= doc.organization %> &raquo; <%= doc.type %> @ <%= doc.published %> ]</em></p>
<%= doc.html %>

<p style="padding: 10px; background-color: #f2f2f2;" class="small">Pasidalink šia naujiena: <a href="http://facebook.com/share.php?u=<%= url %>">Facebook</a>
| <a href="http://twitter.com/home?status=<%= url %>">Twitter</a><br>
<br>
<b>Nuoroda:</b> <a href="<%= url %>"><%= url %></a><br>
<b>Originalus dokumentas:</b> <a href="<%= doc.url %>"><%= doc.url %></a><br>
</p>
<p class="small">KąVeikiaValdžia.lt: <a href="http://kaveikiavaldzia.lt/pages/apie">apie projektą</a>, <a href="http://kaveikiavaldzia.lt/">naujausi dokumentai</a>.</p>
</body>
</html>
