<%

var config = require("config");
var ctlDate = require("ctl/Date");

var BASE_URL = config.URLS.base;
var site_files = config.URLS.files + "/KaVeikiaValdzia";

if (doc.meta)
{
    doc.title = doc.meta.title;
    doc.url = doc.meta.url;
    doc.teises_aktas = doc.meta.teises_aktas;
}

if (!doc.org)
    doc.org = "";

returnVar("title", doc.title);

// breadcrumbs:
//*
var breadcrumbs = [
    [ doc._id.substr(0, 10), doc._id.substr(6, 4) ],
    [ doc._id.substr(0, 13), doc._id.substr(11, 2) ],
    [ doc._id.substr(0, 16), doc._id.substr(14, 2) ]
    ];

returnVar("breadcrumbs", breadcrumbs);
//*/

// --- Side --- --- ----------------------------------------------------------

var icons = '<img align="top" src="' + site_files;

icons = {
    ext: icons + '/ext.png">',
    search: icons + '/search.png">',
    script: icons + '/script.png">'
    };

function tr_key_value(label, value, print_empty) {
    if (value || print_empty)
        print('<tr><td class="label">', label, ':</td><td>', value, '</td></tr>');
}

function obj_key_value(obj) {
    for (var k in obj)
        tr_key_value(k, obj[k]);
}


%>
<div id="breadcrumbs">
    <a href="<%= BASE_URL %>/">Pradžia</a> » 
<%

    print('<a href="', BASE_URL, doc._id.substr(0, 10), '">', doc._id.substr(6, 4), '</a> » ');
    print('<a href="', BASE_URL, doc._id.substr(0, 13), '">', doc._id.substr(11, 2), '</a> » ');
    print('<a href="', BASE_URL, doc._id.substr(0, 16), '">', doc._id.substr(14, 2), '</a>');

%></div>

<div id="document"><div>

<div id="document-side">
<div id="document-info">
<h3>Apie dokumentą</h3>
<table><tbody><%

    obj_key_value({
        "Įstaiga": doc.organization,
        "Tipas": doc.type,
        "Publikuotas": ctlDate.formatFromString(doc.published, "yyyy-MM-dd HH:mm")
        });

%></tbody></table>
<div><table><tbody><%


    var formatai = {
        JSON: BASE_URL + doc._id + ".json"
    };

    if (doc.teises_aktas && doc.teises_aktas.word)
        formatai.Word = doc.teises_aktas.word;

    print('<tr><td class="label">Failo formatai:</td><td>');
    for (var fmt in formatai)
        print('<a href="', formatai[fmt], '">', fmt, '</a>, ');
    print('</td></tr>');

%></tbody></table></div>
<div><a href="<%= doc.url %>" title="<%= doc.title.replace(/"/g, "&quot;") %>">Dokumento originalas</a></div>
<%

// Teisės akto meniu:
if (doc.teises_aktas)
{
    var ta = doc.teises_aktas;
    print('<h4>Teisės akto informacija:</h4>');
    print('<table><tbody>');

    obj_key_value({
        "Rūšis": ta.rusis,
        "Numeris": '<a href="' + BASE_URL + '/docs/search/?q=' + ta.numeris + '">' + ta.numeris + icons.search + '</a>',
        "Statusas": ta.statusas
        });

    print('</tbody></table>');

    if (ta.susije)
        print('<div><a href="', ta.susije, '">Susiję teisės aktai</a></div>');
}


%>
</div>
<fieldset id="document-share">
<legend>Pasidalink:</legend>
<ul>
    <li><a target="_blank" href="http://www.facebook.com/share.php?u=http://kaveikiavaldzia.lt<%= doc._id %>"><img src="<%= site_files %>/fb.gif" align="absmiddle">Facebook</a></li>
    <li><a target="_blank" href="http://twitter.com/home?status=http://kaveikiavaldzia.lt<%= doc._id %>"><img src="<%= site_files %>/twitter.gif" align="absmiddle">Twitter</a></li>

</ul>
<form id="email-doc">
    <span>El. paštu:</span><br>
    <input id="share-email" name="email" class="email">
    <input id="share-email-button" type="button" class="button" name="share" value="Siųsti" onClick="PolicyFeed.shareByEmail('<%= doc._id %>');">
</form>
</fieldset>
</div>

<h1 id="document-title"><%=doc.title%></h1>

<%=doc.html%>
</strong></em></b></i></u></s></tt></h1></h2></h3></h4></h5></h6></a>

</div></div>

